body {
	background-color: #72CAB7;
}

h1 {
	text-align: center;
	margin-bottom: 7px;
	font-family: 'Istok Web', sans-serif;
}


img {
	max-height: 350px;
	max-width: 350px;
	text-align: center;
}

header {
	text-align: center;
	margin: -8px;
    margin-top: -23px;
    font-family: 'Istok Web', sans-serif;
}

section {
	text-align: center;
}

footer {
	text-align: center;
}

h3 {
	font-family: 'Lora', serif;
	font-size: 1em;
}

p {
	font-family: 'Lora', serif;
}

.person-container {
	margin: 29px;
	padding: 14px;
}

.person-container:nth-child(even) {
	background-color: #FFFFC8;
}

.person-container:nth-child(odd) {
	background-color: #E1FFFF;
}

.border {
	border: 1px dotted black;
}

#output-element {
	display: flex;
	justify-content: center;
	margin: -29px;
}

#input {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 300px;
	margin-bottom: 13px;
}


