body {
	background-color: #72CAB7;
}

h1 {
	text-align: center;
}


img {
	max-height: 350px;
	max-width: 350px;
	text-align: center;
}

header {
	text-align: center;
	margin: -8px;
    margin-top: -23px;
}

section {
	text-align: center;
}

footer {
	text-align: center;
}

.person-container {
	margin: 29px;
	padding: 14px;
}

.person-container:nth-child(even) {
	background-color: #FFFFC8;
}

.person-container:nth-child(odd) {
	background-color: #E1FFFF;
}

.bor

#output-element {
	display: flex;
	justify-content: center;
	margin: -29px;
}

#input {
	text-align: center;
	margin: 0 auto;
	width: 300px;
}


